.card-image{
  width: 200px !important;
}

.card-custom-style{
  display: flex;
  justify-content: space-between;
  height: 100% !important;
}

.card-custom-style:hover{
  transition: all;
  box-shadow: 0 0 10px 5px #f4f4f4;
}

.flex-column-between{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}